@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Clientes</h1>
    <p>Cadastre um cliente</p>
    <div>
        <img src="/img/cliente.png" alt="Image" height="250" width="250" />
    </div>
</div>
